.wrapper{
  max-width: 1181px;
  margin: 0 auto;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header_wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 42px;
}

.nav_bar {
  width: 100%;
}

.header_list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 26px;
}

.header_border {
  border-bottom: 1px solid #E7E7F2;
  opacity: 0.4;
}

.header__blockLeft {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.header__blockCenter {
  flex: 2;
}

.header__blockRight {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.header_item{
  font-size: 18px;
  line-height: 21px;
}

.header_item_center{
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  letter-spacing: 0.01em;
}

.header_center {
  text-align: center;
}

.header_link{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.header_link:hover, .header_link:focus, .header_link:active{
  opacity: .75;
}

.header_link_icon {
  cursor: pointer;
}

.header_link_icon > svg > path:hover, .header_link_icon > svg > path:focus, .header_link_icon > svg > path:active {
  fill: lightgrey;
}

.header_link_icon:last-child{
  margin-right: 0;
}


