.main{
    background: linear-gradient(180deg, #131317 -60.19%, rgba(65, 66, 99, 0.09) 50%), url("../public/img/joseph.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.intro{
    padding-top: 314px;
    position: relative;
}

.wrapper{
    max-width: 1181px;
    margin: 0 auto;
    width: 100%;
}

.intro_title{
    max-width: 60%;
    font-size: 86px;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0.01em;
    margin-bottom: 32px;
    padding-top: 46px;
}

.intro_subtitle{
    max-width: 860px;
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
}

.places{

}

.card{
    position: absolute;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 570px;
    max-height: 400px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 16px 0 0 16px;
}

.card_info{
    max-width: 300px;
}

.card_title{
    font-size: 20px;
    line-height: 20px;
    opacity: 0.5;
    padding: 48px 0 36px 36px;
    max-width: 169px;
}

.card_subtitle{
    font-size: 36px;
    line-height: 135%;
    padding-left: 36px;
    padding-bottom: 87px;
    max-width: 204px;
}

.card_arrow{
    padding-left: 36px
}

.card_pic{
}

.bottom_form{
    max-width: 1440px;
    margin: 0 auto;
}

.search_form {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 20px 20px 0 0;
}

.search_form_title {
    font-size: 18px;
    line-height: 21px;
    padding: 35px 48px 16px;
}

.search_form_info{
    display: flex;
    flex-wrap: wrap;
    padding: 0 48px 56px;
}

.search_form_info label{
    font-size: 14px;
    line-height: 14px;
    border: 1px solid grey;
    /*border-radius: 10px;*/
}

.search_form_subtitle{
    font-size: 14px;
    line-height: 14px;
    color: #E7E7F2;
    opacity: 0.6;
    margin-bottom: 8px;
    margin-left: 4px;
}

.search_form_field{
    font-size: 16px;
    line-height: 20px;
    color: white;
    border: transparent;
    background: transparent;
    min-width: 329px;
}

.search_form_field2{
    font-size: 16px;
    line-height: 20px;
    color: white;
    border: transparent;
    background: transparent;
    min-width: 180px;
}

.search_form_field_date{
    font-size: 16px;
    line-height: 20px;
    color: white;
    border: transparent;
    background: transparent;
    max-width: 91px;
}

.search_form_field_date::-webkit-calendar-picker-indicator{
    display: none;
}

.search_form_submit{
    padding: 26px 91px;
    margin-left: 30px;
    background: #91CB82;
    border-radius: 10px;
    font-size: 18px;
    line-height: 20px;
    color: white;
    border: 0;
}

.search_form_submit:hover, .search_form_submit:focus, .search_form_submit:active{
    background: #709c65;
}

.search_pic{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    opacity: 0.6;
}

.search_accommodation{
    display: flex;
    padding: 15px 42px 15px 0;
    border-radius: 10px 0 0 10px;
}

.search_checkin{
    display: flex;
    padding: 15px 40px 15px 0;
}

.search_checkout{
    padding: 15px 40px 15px 20px;
}

.search_guests{
    display: flex;
    padding: 15px 33px 15px 0;
    border-radius: 0 10px 10px 0;
}
